﻿@model IEnumerable<ComartHeijn.Models.ApplicationUserViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/blank.cshtml";
}

<h1>Details</h1>

@foreach (var item in Model)
{
    <div>
        <h4>Gebruiker</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @foreach (var id in item.Id)
                {
                    @id
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @foreach (var email in item.Email)
                {
                    @email
                }
            </dd>
            <dt class="col-sm-2">
                Rollen
            </dt>
            <dd class="col-sm-10">
                @foreach (var roles in item.Roles)
                {
                    <span>@roles, </span>
                }
            </dd>
        </dl>
    </div>
    <div>
    </div>
}
