﻿@model ComartHeijn.Models.ApplicationUserViewModel

@{
    ViewData["Title"] = "Rollen wijzigen";
    Layout = "~/Areas/Admin/Views/Shared/blank.cshtml";

}

<h1>Rollen wijzigen</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ModifyRoles">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            @foreach (Microsoft.AspNetCore.Identity.IdentityRole role in ViewBag.Roles)
            {
                @if (Model.Roles.Contains(role.Name))
                {
                    <input type="checkbox" name="SelectedRoles" value="@role.Name" checked />@role.Name
                }
                else
                {
                    <input type="checkbox" name="SelectedRoles" value="@role.Name" />@role.Name
                }
                <br />
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar index</a>
</div>

