﻿@model IEnumerable<ComartHeijn.Models.Product>

@{
    ViewData["Title"] = "Index";
}




<div class="customcontainer">

    <br />
    <h1>Producten</h1>
    @if (TempData["Message"] != null)
    {
        <div id="helpdiv" class="alert alert-success" role="alert" style="

  position: fixed;
  top: 50%;
  left:0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);


">
            @TempData["Message"]
        </div>
        <script type="text/javascript">
            // close the div in 5 secs
            window.setTimeout("closeHelpDiv();", 1600);

            function closeHelpDiv() {
                document.getElementById("helpdiv").style.display = " none";
            }
        </script>
    }




    <hr />
    <br />

    <div class="container">
        <div class="row" style="margin:0">
            @foreach (var item in Model)
            {
                <div class="col-md-3" id="@("product" + @item.Id)" style="margin:0px; padding:0px; text-align: center; align-content:center; text-decoration: none;">
                    <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;">

                        <div class="card" style="height:450px; text-align: center; align-content:center">
                            <div style=" width:100%; text-align: center; align-content:center">
                                <img class="productfoto" style="margin-top:20px; width:99%;" src="@item.Image">
                            </div>
                            <div style="width:100%; height:20px; margin-bottom:20px;">
                                <p>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </p>
                            </div>
                            <div class="card-body">
                                <p>&euro;@Html.DisplayFor(modelItem => item.Price)</p>
                                <div>
                                    <a asp-action="AddToCart" class="btn btn-success" asp-route-id="@item.Id">
                                        In winkelwagen
                                    </a>


                                </div>

                            </div>
                        </div>

                    </a>
                </div>
            }
        </div>

    </div>
</div>



@*@section scripts{
        <script>
            $(function () {
                $("#basic-text1").click(function () {
                    $("Form").submit();
                })
            });
        </script>
    }*@