﻿@model IEnumerable<ComartHeijn.Models.Category>

@{
    ViewData["Title"] = "Index";
}

    <h1>Categorieën</h1>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/banners/@Html.DisplayFor(modelItem => item.BannerUrl)" alt="Card image cap">
                <div class="card-body">
                    <a asp-action="Categorie" asp-route-id="@item.Id" class="card-title">@Html.DisplayFor(modelItem => item.Naam)</a>
                    @*<h5 class="card-title">@Html.DisplayFor(modelItem => item.Naam)</h5>*@
                    @*<p class="card-text">@Html.DisplayFor(modelItem => item.Datum) in @Html.DisplayFor(modelItem => item.Categorie)</p>*@
                </div>
            </div>
        </div>
    }
</div>