﻿@model IEnumerable<ComartHeijn.Models.CartItemViewModel>

@{
    ViewData["Title"] = "ShowCart";
}

<h1>Winkelwagen</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                <img src="@item.Image" height="64" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
                <a class="btn btn-sm" asp-action="IncreaseAmount" asp-route-id="@item.ProductId">+</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="RemoveFromCart" asp-route-id="@item.ProductId">Verwijderen uit winkelwagen</a><br />
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-primary text-light" asp-action="Index" asp-controller="Checkout">Checkout</a>