﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser > SignInManager
@inject UserManager<ApplicationUser > UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="search">
                <form asp-controller="Zoekresultaten" asp-action="Index" method="get">
                    <p>
                        <input type="text" class="from mr-sm-2" type="text" name="SearchString" placeholder="Zoek een product....">
                        <button type="submit" class="btn btn-primary">Zoek</button>
                    </p>

                </form>
            </div>
            
            <li class="nav-item dropdown">
                <a style="color:#00a2e3;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.Name
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a style="color:#00a2e3;" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Beheer account</a>

                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </div>
            </li>

            <button onclick="location.href='/producten/Showcart'" style="font-size:24px; color:#00a2e3; background: transparent;border: none !important;"><i class="fa fa-shopping-cart"></i></button>
            }
            else
            {
            <div class="search">
                <form asp-controller="Zoekresultaten" asp-action="Index" method="get">
                    <p>
                        <input type="text" class="from mr-sm-2" type="text" name="SearchString" placeholder="Zoek een product....">
                        <button type="submit" class="btn btn-primary">Zoek</button>
                    </p>

                </form>
            </div>

            <li class="nav-item dropdown">
                <a style="color:#00a2e3;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Inloggen</a>
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Aanmelden</a>

                </div>
            </li>

            <button onclick="location.href='/producten/Showcart'" style="font-size:24px; color:#00a2e3; background: transparent;border: none !important;"><i class="fa fa-shopping-cart"></i></button>
            }
        </ul>

