﻿@model ComartHeijn.Models.CheckoutViewModel
@{
    ViewData["Title"] = "Bevestiging";
}

<h1>Bedankt voor uw bestelling!</h1>

<h2>Uw gegevens zijn!</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phonenumber" class="control-label"></label>
                <input asp-for="Phonenumber" class="form-control" disabled />
                <span asp-validation-for="Phonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" disabled />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Housenumber" class="control-label"></label>
                <input asp-for="Housenumber" class="form-control" disabled />
                <span asp-validation-for="Housenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" disabled />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zipcode" class="control-label"></label>
                <input asp-for="Zipcode" class="form-control" disabled />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliverySlots" class="control-label">Bezorgmoment</label>
                <input asp-for="DeliverySlots" class="form-control" disabled />
                <span asp-validation-for="DeliverySlots" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
