﻿@model ComartHeijn.Models.CheckoutViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Winkelwagen</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Afbeelding
            </th>
            <th>
                Prijs
            </th>
            <th>
                Aantal
            </th>
            <th>
                Totale prijs
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img src="@item.Image" height="64" />
                </td>
                <td>
                    <p>&euro;@Html.DisplayFor(modelItem => item.Price)</p>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <p>&euro;@Html.DisplayFor(modelItem => item.TotalPrice)</p>
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Checkout" asp-action="RemoveFromCart" asp-route-id="@item.ProductId">Verwijderen uit winkelwagen</a><br />
                </td>
            </tr>
        }
    </tbody>
</table>
<h3>Totale prijs: @Model.TotalPrice</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phonenumber" class="control-label"></label>
                <input asp-for="Phonenumber" class="form-control" />
                <span asp-validation-for="Phonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Housenumber" class="control-label"></label>
                <input asp-for="Housenumber" class="form-control" />
                <span asp-validation-for="Housenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zipcode" class="control-label"></label>
                <input asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliverySlots" class="control-label">Kies je gewenste bezorgmoment</label>
                <select asp-for="DeliverySlots" class="form-control" asp-items="@ViewBag.DeliverySlot"></select>
                <span asp-validation-for="DeliverySlots" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Bevestigen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">terug</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
