﻿@model ComartHeijn.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col">
            <img width="400" src="@Html.DisplayFor(model => model.Image)" />
        </div>
        <div class="col">
            <div>
                <hr />
                <h4>@Html.DisplayFor(model => model.Title)</h4>
                <h5>@Html.DisplayFor(model => model.Brand)</h5>
                <hr />
                @Html.DisplayFor(model => model.Shortdescription)
                <br />
                <hr />
                <a class="btn btn-primary" asp-controller="producten" asp-action="AddToCart" asp-route-id="@Model.Id">Toevoegen aan winkelwagen</a><br />
            </div>
        </div>

        <div>

            <h2>Beschrijving</h2>
            <hr />
            @Html.DisplayFor(model => model.Fulldescription)

            <hr />
            <a asp-action="Index">Terug</a>
        </div>
