﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Aanmelden";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Maak een nieuw account aan.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.UserName">Voornaam</label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Achternaam">Achternaam</label>
                <input asp-for="Input.Achternaam" class="form-control" />
                <span asp-validation-for="Input.Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber">Telefoonnummer</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Woonplaats">Woonplaats</label>
                <input asp-for="Input.Woonplaats" class="form-control" />
                <span asp-validation-for="Input.Woonplaats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Postcode">Postcode</label>
                <input asp-for="Input.Postcode" class="form-control" />
                <span asp-validation-for="Input.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Straatnaam">Straatnaam</label>
                <input asp-for="Input.Straatnaam" class="form-control" />
                <span asp-validation-for="Input.Straatnaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Huisnummer">Huisnummer</label>
                <input asp-for="Input.Huisnummer" class="form-control" />
                <span asp-validation-for="Input.Huisnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Wachtwoord</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Herhaal wachtwoord</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Aanmelden</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Gebruik een andere service om u te registreren.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Er zijn geen externe authenticatieservices geconfigureerd. Zie <a href="https://go.microsoft.com/fwlink/?LinkID=532715">dit artikel</a>
                            voor details over het instellen van deze ASP.NET-applicatie om inloggen via te ondersteunen.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
