﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registreer bevestiging";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        Voor deze app is momenteel geen echte afzender van e-mail geregistreerd, zie <a href="https://aka.ms/aspaccountconf">deze documenten</a> voor het configureren van een echte e-mailafzender.
        Normaal gesproken wordt dit per e-mail verzonden: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klik hier om uw account te bevestigen</a>
    </p>
    }
    else
    {
<p>
    Controleer uw e-mail om uw account te bevestigen.
</p>
    }
}
