﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profiel";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username">Voornaam</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Achternaam">Achternaam</label>
                <input asp-for="Input.Achternaam" class="form-control" />
                <span asp-validation-for="Input.Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber">Telefoonnummer</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Woonplaats">Woonplaats</label>
                <input asp-for="Input.Woonplaats" class="form-control" />
                <span asp-validation-for="Input.Woonplaats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Postcode">Postcode</label>
                <input asp-for="Input.Postcode" class="form-control" />
                <span asp-validation-for="Input.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Straatnaam">Straatnaam</label>
                <input asp-for="Input.Straatnaam" class="form-control" />
                <span asp-validation-for="Input.Straatnaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Huisnummer">Huisnummer</label>
                <input asp-for="Input.Huisnummer" class="form-control" />
                <span asp-validation-for="Input.Huisnummer" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Opslaan</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}