﻿@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Persoonlijke gegevens";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Uw account bevat persoonlijke gegevens die u ons heeft gegeven. Op deze pagina kunt u die gegevens downloaden of verwijderen.</p>
        <p>
            <strong>Als u deze gegevens verwijdert, wordt uw account definitief verwijderd en kan dit niet worden hersteld.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Downloaden</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Verwijderen</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}