﻿@model ComartHeijn.Models.NieuwsArtikel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/blank.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Artikel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OmslagFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OmslagFoto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NieuwsArtikelId">Wijzigen</a> |
    <a asp-action="Index">Terug</a>
</div>
