﻿@model IEnumerable<ComartHeijn.Models.NieuwsArtikel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/blank.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="NieuwArtikel">Nieuw artikel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.NieuwsArtikelId">@Html.DisplayFor(modelItem => item.Titel)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                <td>
                    <a asp-action="Wijzigen" asp-route-id="@item.NieuwsArtikelId">Wijzigen</a> |
                    <a asp-action="Verwijderen" asp-route-id="@item.NieuwsArtikelId">Verwijderen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
