﻿@model ComartHeijn.Models.NieuwsArtikel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<img width="500" src="~/Omslagfoto/@Html.DisplayFor(model => model.OmslagFoto)" />
<p>Gepubliceerd op @Html.DisplayFor(model => model.Datum)</p>

<h1>@Html.DisplayFor(model => model.Titel)</h1>
<div>
    <hr />

    @Html.Raw(Model.Content)
    <hr />
</div>

    <div>
        <a asp-action="Index">Terug</a>
    </div>
