﻿@model IEnumerable<ComartHeijn.Models.NieuwsArtikel>

@{
    ViewData["Title"] = "Index";
}

<h1>Nieuws</h1>

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/Omslagfoto/@Html.DisplayFor(modelItem => item.OmslagFoto)" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titel)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Datum)</p>
            <a asp-action="Details" asp-route-id="@item.NieuwsArtikelId" class="btn btn-primary">Bekijken</a>
        </div>
    </div>
}
