﻿@model Home

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Comart Heijn</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">

</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h3 class="my-4" style="color:dimgrey">Categorieën</h3>
                <div class="list-group">
                    @foreach (var item in Model.Categories)
                    {
                        <a asp-controller="Producten" asp-action="Categorie" asp-route-id="@item.Id" class="list-group-item">@item.Naam</a>
                    }


                </div>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="~/img/banners/largeBanner.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="~/img/banners/Untitled.png" alt="Second slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- Aanbiedingen -->
                <h3 style="color:dimgrey">In de aanbieding</h3><br />

                <div class="row">

                    @foreach (var item in Model.Products)
                    {
                        @foreach (var discount in Model.Discounts)
                        {
                            if (item.EAN == discount.EAN)
                            {
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a asp-action="Details" asp-controller="Producten" asp-route-id="@item.Id"><img class="card-img-top" src="@item.Image" alt="Afbeelding niet beschikbaar"></a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a asp-action="Details" asp-controller="Producten" asp-route-id="@item.Id">@item.Title</a>
                                        </h4>
                                        <h5>@discount.DiscountPrice</h5>
                                        <p class="card-text">Geldig tot: @discount.ValidUntil</p>
                                    </div>
                                    <div class="card-footer">

                                    </div>
                                </div>
                            </div>
                            }
                        }
                     }


                </div>
                <!-- /.row -->
                <!-- Aanbiedingen -->
                <h3 style="color:dimgrey">Nieuws</h3><br />

                <div class="row">
                    @foreach (var item in Model.NieuwsArtikels)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="~/OmslagFoto/@item.OmslagFoto" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-controller="Nieuws" asp-action="Details" asp-route-id="@item.NieuwsArtikelId">@item.Titel</a>
                                    </h4>
                                    <h7>@item.Datum</h7>
                                    @*<p class="card-text">Geldig tot: @item.ValidUntil</p>*@
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                        </div>
                    }


                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
