﻿@model IEnumerable<ComartHeijn.Models.Category>

@{
    ViewData["Title"] = "Categorie banners";
    Layout = "~/Areas/Admin/Views/Shared/blank.cshtml";
}

<h1>CategorieBanner</h1>


@foreach (var item in Model)
{

        <form>
            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    @*<img class="card-img-top" src="@item.CategoryBanner.Url" alt="Card image cap">*@
                    <div class="card-body">
                        @Html.DisplayFor(modelItem => item.Naam)
                        @*<h5 class="card-title">@Html.DisplayFor(modelItem => item.Naam)</h5>*@
                        @*<p class="card-text">@Html.DisplayFor(modelItem => item.Datum) in @Html.DisplayFor(modelItem => item.Categorie)</p>*@
                    </div>
                </div>

                <a asp-action="Wijzig" asp-route-id="@item.Id">Wijzig</a>

            </div>
        </form>
}

