﻿@model ComartHeijn.Models.Category

@{
    ViewData["Title"] = "Categorie banners";
    Layout = "~/Areas/Admin/Views/Shared/blank.cshtml";
}

<img src="~/Banners/@Html.DisplayFor(Modelitem => Model.BannerUrl)"/>
<h2>@Html.DisplayFor(Modelitem => Model.Naam)</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Wijzig" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control"/>
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BannerUrl" class="control-label"></label>
                <input type="file" asp-for="BannerUrl" class="form-control" name="fileobj" />
                <span asp-validation-for="BannerUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
            <div class="alert alert-success" role="alert">
                @ViewBag.message
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug</a>
</div>

